name: Update L10n Tracking Branch

on:
  # Triggers the workflow on push events:
  # - For the default branch
  # - For the l10n_reference branch (manual updates)
  push:
    branches: [ main, l10n_reference ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  fetch:
    name: L10n automation
    runs-on: ubuntu-latest
    steps:
      - name: Install Linux packages
        run: |
          sudo apt update
          sudo apt install git hub -y
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          path: "clone"
          # We always care about comparing the default branch against
          # l10n_reference, even when action is triggered by changes in the
          # latter.
          ref: "main"
      - name: Set up Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'
      - name: Set up git credentials
        run : |
          git config --global user.email 'flodolo@users.noreply.github.com'
          git config --global user.name 'Francesco Lodolo [:flod]'
      - name: Update l10n files in repository
        run: |
          cd clone
          git fetch origin '+refs/heads/*:refs/heads/*' --update-head-ok

          # Store stats on files
          python .github/scripts/check_status.py
          # Only keep source files that are relevant for translation
          python .github/scripts/cleanup_repository.py

          # Use temporary folder to store files from the default branch
          cd ..;mkdir temp_files
          # Copy files, excluding scripts and workflows
          rsync -av --exclude=".git/*" --exclude=".github/workflows" --exclude=".github/scripts" --exclude=".github/requirements.txt" clone/ temp_files/

          # Use l10n_reference as a base for l10n_updates, to avoid generating
          # a huge diff in the pull request.
          cd clone
          git reset --hard origin/l10n_reference
          git checkout -B l10n_updates

          # Restore files from the default branch
          rsync -av ../temp_files/ ./
      - name: Commit changes to l10n_updates branch
        continue-on-error: true
        run: |
          # Commit changes. Failure is allowed if there is nothing to commit.
          cd clone
          git add .
          git commit -m "Update documents relevant for l10n"
          git push -f origin l10n_updates
      - name: Open pull request
        continue-on-error: true
        run: |
          # continue-on-error is needed in case there is already an open PR
          cd clone
          changes=$(git diff --name-only l10n_reference l10n_updates -- | wc -l | awk '{print $1}')
          if [[ "$changes" = "0" ]];
          then
            echo "No changes."
          else
            # Create pull request
            hub pull-request -m "[l10n] Source document updates" -h l10n_updates -b l10n_reference -l l10n -r peiying2
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
