name: Docs Linter (reference)

on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - '**.json'
      - '.github/workflows/doc_linter_ref.yml'
      # Ignore Markdown files in the root
      - '!*.md'
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  fetch:
    name: Lint documents
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v5
      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Python dependencies
        run: |
          pip install -r .github/requirements.txt
      - name: Run linter
        run: >
          python .github/scripts/lint_documents.py
          --path . 
          --ref en 
          --type ref
          --exceptions .github/scripts/linter_exceptions.json
